@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
#head {
    background-image: url(../images/map.jpg); height: 650px; opacity: 80%; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: ivory;
    font-family: poppins;
    }
#head .bar{
        position: fixed;
    }
   

#name a{
    text-decoration: none;
    color: white;
    text-align: left;
    
}   
.bar {
    font-size: larger;
    display: block;
    padding: 16px;
} 
.navbar ul{
            list-style-type: none;
            font-size: larger;
            
}    
.navbar a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 14px 16px;
    }
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
    
}
.navbar{
    float: right;
}
#topic {
    padding: 10%;
    font-size:6em;
    font-family: poppins;
    text-align: center;
}
.fa-solid.fa-earth-africa.fa-3px{
    color: white;
    margin-right: 8px;
}
section{
    height: 100vh;
    position: relative;
}
a#scroll-btn{
    position: absolute;
    height: 5em;
    width: 3em;
    border: 0.4em solid gray;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 4.25em;
    border-radius: 3em;
}
a#scroll-btn:before{
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    height: 0.7em;
    width: 0.7em;
    background-color: gray;
    border-radius: 50%;
    animation: move-down 2s infinite;
}
@keyframes move-down{
    80%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(3.3em);
        opacity: 0;
    }
}
#section2{
    background-image: url(../images/world.jpeg);
}